@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using TerziyskiClima.Models.ProductViewModels
@model ProductEditViewModel

<div class="action-container">
    <h1>Промени продукт</h1>
    <form method="post">
        <label>Име</label>
        <input class="form-control" asp-for="@Model.Name" type="text" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        <label>Цена</label>
        <input class="form-control" asp-for="@Model.Price" step="0.01" type="number" />
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
        <label>Описание</label>
        <input class="form-control" asp-for="@Model.Description" type="text" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
        <br />
        <button type="submit" class="btn btn-success">Запази</button>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}