@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using TerziyskiClima.Models.ProductViewModels
@model ProductIndexViewModel

<div class="page-container">
    <header class="products-banner-container">
        <img src="~/resources/banner-3.png"/>
    </header>
    @if (Model.Role == "Admin")
    {
        <form class="add-product-btn-container" method="get" asp-controller="Product" asp-action="Add">
            <input type="hidden" class="btn btn-primary" />
            <button>Добави продукт</button>
        </form>
    }
    <div class="card-grid">
        @foreach (var product in Model.Products)
        {
    <div class="card-container">
        <img src=@String.Format("resources/ac{0}.jpg", new Random().Next(1, 5) ) />
        <h1>@product.Name</h1>
        <p>@product.Price лв.</p>
        <p>@product.Description</p>
        @if (Model.Role == "Admin" || Model.Role == "User")
        {
            <form method="post" asp-controller="Cart" asp-action="AddToCart">
                <input type="hidden" class="btn btn-primary" value="@product.Id" name="productId" />
                <button type="submit">Добави към количка</button>
            </form>
        }
        @if (Model.Role == "Admin")
        {
            <form method="get" asp-controller="Product" asp-action="Edit">
                <input type="hidden" class="btn btn-primary" value="@product.Id" name="id" />
                <button type="submit">Промени</button>
            </form>
            <form method="post" asp-controller="Product" asp-action="Delete">
                <input type="hidden" class="btn btn-primary" value="@product.Id" name="id" />
                <button type="submit">Изтрий</button>
            </form>
        }
    </div>
        }
    </div>
</div>