@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using TerziyskiClima.Services
@model List<CartItem>

<div class="page-container cart-container">
    <div>
        @foreach (var item in Model)
        {
            <div class="cart-product-container">
                <img src=@String.Format("resources/ac{0}.jpg", new Random().Next(1, 5)) />
                <div>
                    <h1>@item.Product.Name </h1>
                    <p>@item.Product.Price лв.</p>
                </div>
                <div>
                    <h1>Количество</h1>
                    <p>
                        x <form method="post" asp-action="ChangeQuantity" asp-controller="Cart">
                            <input type="hidden" value="@item.Product.Id" name="productId" />
                            <input id="origQuantity" type="hidden" value="@item.Quantity" />
                            <input id="quantity" asp-for="@item.Quantity" type="number" name="quantity" />
                            <span asp-validation-for="@item.Quantity" class="text-danger"></span>
                            <button hidden="hidden" id="buttonQuantity" type="submit">Запази</button>
                        </form>
                    </p>
                </div>
                <form class="remove" method="post" asp-action="RemoveFromCart" asp-controller="Cart">
                    <input type="hidden" value="@item.Product.Id" name="productId" />
                    <button type="submit">X</button>
                </form>
            </div>
        }
    </div>
    <div class="cart-receipt-placeholder">
        <div class="cart-receipt">
            <h1>Кошница</h1>
            @if (Model.Count > 0)
            {
                double price = 0;
                <div>
                    @foreach (var item in Model)
                    {
                        <div class="cart-receipt-item">
                            <p>@item.Product.Name</p>
                            <p>x @item.Quantity</p>
                            <p>@item.Product.Price лв.</p>
                        </div>
                    }
                    @foreach (var item in Model)
                    {
                        price += item.Product.Price * item.Quantity;
                    }
                    <div class="cart-receipt-item receipt-total">
                        <p>Общо:</p>
                        <p> </p>
                        <p>@price лв.</p>
                    </div>
                </div>
                <form method="post" asp-action="PurchaseFromCart" asp-controller="Purchase">
                    <button type="submit">Закупи</button>
                </form>
            }
            else
            {
                <div class="no-products">
                    <p>НЯМА ПРОДУКТИ</p>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        document.getElementById("quantity").addEventListener("input", function (e) {
            if (this.value == document.getElementById("origQuantity").value) {
                document.getElementById("buttonQuantity").hidden = true;
                console.log("Hidden");
            }
            else {
                document.getElementById("buttonQuantity").hidden = false;
                console.log("Shown");

            }
        })
    </script>
}