@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using TerziyskiClima.Models.Authentication
@model RegisterViewModel

<div class="auth-container register-container">
    <h1>Регистрация</h1>
    <form class="c-register" method="post">
        <p class="c-auth-label">Първо име*</p>
        <p class="c-auth-label">Фамилия*</p>
        <input class="form-control c-auth-input" type="text" asp-for="@Model.Name" placeholder="Първо име..." />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        <input class="form-control c-auth-input" type="text" asp-for="@Model.Surname" placeholder="Фамилия..." />
        <span asp-validation-for="@Model.Surname" class="text-danger"></span>
        <p class="c-auth-label">E-mail*</p>
        <input class="form-control c-auth-input" type="text" asp-for="@Model.Email" placeholder="E-mail..." />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
        <p class="c-auth-label">Адрес*</p>
        <input class="form-control c-auth-input" type="text" asp-for="@Model.Address" placeholder="Адрес..." />
        <span asp-validation-for="@Model.Address" class="text-danger"></span>
        <p class="c-auth-label">Телефон*</p>
        <input class="form-control c-auth-input" type="text" asp-for="@Model.Phone" placeholder="Телефон..." />
        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
        <p class="c-auth-label">Парола*</p>
        <input class="form-control c-auth-input" type="password" asp-for="@Model.Password" placeholder="Парола..." />
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
        <input class="form-control c-auth-input" type="password" asp-for="@Model.ConfirmPassword" placeholder="Потвърди парола..." />
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        <p class="font-italic c-auth-label">* Задължителни полета</p>
        <button type="submit" class="btn c-btn">Регистрирай се</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}